<form method="post" action="{{ path('works_delete', {'id': works.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette réalisation?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ works.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
