{% extends "public/index.html.twig" %}

{% block body %}
	<div class="row my-5">
		<div class="col-12 col-xl-6">
			<img src="{{ asset('assets/img/amenagement.jpeg') }}" alt="" class="img-fluid">
			<h5 class="text-center bgCategories">Travaux extérieurs</h5>
		</div>
		<div class="col-12 col-xl-6">
			<img src="{{ asset('assets/img/amenagement.jpeg') }}" alt="" class="img-fluid">
			<h5 class="text-center bgCategories">Travaux intérieurs</h5>
		</div>
	</div>
	<div class="row d-flex justify-content-center">
		<div class="col-12 col-xl-6">
			<img src="{{ asset('assets/img/amenagement.jpeg') }}" alt="" class="img-fluid">
			<h5 class="text-center bgCategories">Travaux électriques</h5>
		</div>
	</div>
{% endblock %}
