{% extends "public/index.html.twig" %}

{% block body %}
	<div class="row my-5">
		{% for category in categories %}
			<div class="col-12 col-xl-4">
				<img src="{{ asset('assets/img/amenagement.jpeg') }}" alt="" class="img-fluid">
				<h5 class="text-center bgCategories">
					<a href="{{ path('categories_show', {'id' : category.id} ) }}">Travaux extérieurs</a>
				</h5>
			</div>
		{% endfor %}
	</div>
{% endblock %}
