{% extends "public/index.html.twig" %}

{% block title %}Concept Rénovation - Collaborateurs{% endblock %}

{% block body %}
	<div class="text-center container">
		<h4 class="backgroundTitle mt-2">Nos collaborateurs</h4>

		<div class="row my-5">
			<div class="col-12 col-xl-4">
				<img src="assets/img/compagnons.png" alt="" class="sizeLogoWork img-fluid">
			</div>
			<div class="col-12 col-xl-4 align-self-center">
				<p>Les compagnons des toits</p>
				<p>06 64 96 34 12</p>
				<p>06 20 99 62 25</p>
				<p>68 Rue Jordaens, 59000 Lille</p></a>
			</div>
			<div class="col-12 col-xl-4 align-self-center">
				<a href="https://www.facebook.com/lescompagnonsdestoits"/><img src="{{ asset('assets/img/facebook.png') }}" alt=""></a>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-12 col-xl-4">
				<img src="assets/img/debondt.jpg" alt="" class="sizeLogoWork img-fluid">
			</div>
			<div class="col-12 col-xl-4 align-self-center">
				<p>Debondt travaux</p>
				<p>06 99 84 71 53</p>
				<p>24 Rue de la Dime, 59116 Houplines</p>
			</div>
			<div class="col-12 col-xl-4 align-self-center">
				<a href="https://www.facebook.com/Debondt-travaux-608075139527871/?ref=page_internal"/><img src="{{ asset('assets/img/facebook.png') }}" alt=""></a>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-12 col-xl-4">
				<img src="assets/img/pesteil.jpg" alt="" class="sizeLogoWork img-fluid">
			</div>
			<div class="col-12 col-xl-4 align-self-center">
				<p>Pesteil R Carrelage</p>
				<p>06 67 42 15 65</p>
				<p>Comines, 59560</p>
			</div>
			<div class="col-12 col-xl-4 align-self-center">
				<a href="https://www.facebook.com/Pesteil-R-carrelage-157150441470914"><img src="{{ asset('assets/img/facebook.png') }}" alt=""></a>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-12 col-xl-4">
				<img src="assets/img/sorbelli.jpg" alt="" class="sizeLogoWork img-fluid">
			</div>
			<div class="col-12 col-xl-4 align-self-center">
				<p>Sorbelli Entreprise</p>
				<p>0617867582</p>
				<p>363 Rue Gambetta, 59184 Sainghin-en-weppes</p>
			</div>
			<div class="col-12 col-xl-4 align-self-center">
			</div>
		</div>
	</div>
{% endblock %}
