{% extends "public/index.html.twig" %}

{% block title %}Concept Rénovation - Politique de confidentialité{% endblock %}

{% block body %}

<h2 class="text-center">Sécurité et protection des données personnelles</h2>
<h3 class="text-center">Avertissements</h3>
Le présent outil est mis à votre disposition gratuitement. L'outil se base sur des informations fondées sur
l’analyse professionnelle du cabinet en matière de conformité RGPD. Toutefois, la conformité étant un
processus dynamique et toute situation étant particulière, les informations transmises doivent être adaptées et
ne peuvent en aucun cas être considérées comme exhaustives ou exactes.
Sauf à ce que vous demandiez une revue et validation par le Cabinet, le document généré est considéré
comme une simple information. En conséquence, vous êtes seul responsable des interprétations faites des
informations fournies, des conseils que vous en déduisez et des adaptations réalisées pour votre activité
commerciale propre. L'utilisation et l'exploitation de l'outil se fait donc sous votre seule responsabilité et à vos
risques et périls.
<h3 class="text-center">Définitions :</h3>
<p class="text-center">L'Éditeur : La personne, physique ou morale, qui édite les services de communication au public en ligne.
Le Site : L'ensemble des sites, pages Internet et services en ligne proposés par l'Éditeur.
L'Utilisateur : La personne utilisant le Site et les services.
Nature des données collectées
Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories de données
suivantes concernant ses Utilisateurs :
Données d'état-civil, d'identité, d'identification...
Données relatives à la vie personnelle (habitudes de vie, situation familiale, hors données sensibles ou
dangereuses)
Informations d'ordre économique et financier (revenus, situation financière, situation fiscale...)
Communication des données personnelles à des tiers
Pas de communication à des tiers
Vos données ne font l'objet d'aucune communication à des tiers. Vous êtes toutefois informés qu'elles
pourront être divulguées en application d'une loi, d'un règlement ou en vertu d'une décision d'une autorité
réglementaire ou judiciaire compétente.
Information préalable pour la communication des données personnelles à des tiers en
cas de fusion / absorption.</p>
 
<p>Collecte de l’opt-in (consentement) préalable à la transmission des données suite à une fusion /
acquisition
Dans le cas où nous prendrions part à une opération de fusion, d’acquisition ou à toute autre forme de cession
d’actifs, nous nous engageons à obtenir votre consentement préalable à la transmission de vos données
personnelles et à maintenir le niveau de confidentialité de vos données personnelles auquel vous avez
consenti.</p>
<p>Finalité de la réutilisation des données personnelles collectées
Effectuer les opérations relatives à la gestion des clients concernant
les contrats ; les commandes ; les livraisons ; les factures ; la comptabilité et en particulier la gestion
des comptes clients
<ul>
<li>un programme de fidélité au sein d'une entité ou plusieurs entités juridiques ;
le suivi de la relation client tel que la réalisation d'enquêtes de satisfaction, la gestion des réclamations
et du service après-vente</li>
<li>la sélection de clients pour réaliser des études, sondages et tests produits (sauf consentement des
personnes concernées recueilli dans les conditions prévues à l’article 6, ces opérations ne doivent pas
conduire à l'établissement de profils susceptibles de faire apparaître des données sensibles - origines
raciales ou ethniques, opinions philosophiques, politiques, syndicales, religieuses, vie sexuelle ou santé
des personnes)</li>
<li>
L'élaboration de statistiques commerciales
La gestion des demandes de droit d'accès, de rectification et d'opposition
La gestion des impayés et du contentieux, à condition qu'elle ne porte pas sur des infractions et / ou
qu'elle n'entraîne pas une exclusion de la personne du bénéfice d'un droit, d'une prestation ou d'un
contrat
La gestion des avis des personnes sur des produits, services ou contenus</li>
</ul>
</p>

<h3 class="text-center">Agrégation des données</h3>
<p>Agrégation avec des données non personnelles
Nous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à tous nos
Utilisateurs ou à des groupes ou catégories spécifiques d'Utilisateurs que nous combinons de manière à ce
qu'un Utilisateur individuel ne puisse plus être identifié ou mentionné) et les informations non personnelles à
des fins d'analyse du secteur et du marché, de profilage démographique, à des fins promotionnelles et
publicitaires et à d'autres fins commerciales.
Agrégation avec des données personnelles disponibles sur les comptes sociaux de l'Utilisateur
Si vous connectez votre compte à un compte d’un autre service afin de faire des envois croisés, ledit service
pourra nous communiquer vos informations de profil, de connexion, ainsi que toute autre information dont
vous avez autorisé la divulgation. Nous pouvons agréger les informations relatives à tous nos autres
Utilisateurs, groupes, comptes, aux données personnelles disponibles sur l’Utilisateur.
Collecte des données d'identité</p>
 
<h3 class="text-center">Consultation libre</h3>
<p>La consultation du Site ne nécessite pas d'inscription ni d'identification préalable. Elle peut s'effectuer sans que
vous ne communiquiez de données nominatives vous concernant (nom, prénom, adresse, etc). Nous ne
procédons à aucun enregistrement de données nominatives pour la simple consultation du Site.
Collecte des données d'identification
Utilisation de l'identifiant de l’utilisateur uniquement pour l’accès aux services
Nous utilisons vos identifiants électroniques seulement pour et pendant l'exécution du contrat.
Collecte des données du terminal
Collecte des données de profilage et des données techniques à des fins de fourniture du service
Certaines des données techniques de votre appareil sont collectées automatiquement par le Site. Ces
informations incluent notamment votre adresse IP, fournisseur d'accès à Internet, configuration matérielle,
configuration logicielle, type et langue du navigateur... La collecte de ces données est nécessaire à la fourniture
des services.
Collecte des données techniques à des fins publicitaires, commerciales et statistiques
Les données techniques de votre appareil sont automatiquement collectées et enregistrées par le Site, à des
fins publicitaires, commerciales et statistiques. Ces informations nous aident à personnaliser et à améliorer
continuellement votre expérience sur notre Site. Nous ne collectons ni ne conservons aucune donnée
nominative (nom, prénom, adresse...) éventuellement attachée à une donnée technique. Les données collectées
sont susceptibles d’être revendues à des tiers.</p>

<h3 class="text-center">Conservation des données techniques</h3>
<p class="text-center">Durée de conservation des données techniques
Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation des finalités
visées ci-avant.
Délai de conservation des données personnelles et d'anonymisation
Conservation des données pendant la durée de la relation contractuelle
Conformément à l'article 6-5° de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
libertés, les données à caractère personnel faisant l'objet d'un traitement ne sont pas conservées au-delà du
temps nécessaire à l'exécution des obligations définies lors de la conclusion du contrat ou de la durée
prédéfinie de la relation contractuelle.
Conservation des données anonymisées au delà de la relation contractuelle / après la suppression du
compte
Nous conservons les données personnelles pour la durée strictement nécessaire à la réalisation des finalités
décrites dans les présentes CGU. Au-delà de cette durée, elles seront anonymisées et conservées à des fins
exclusivement statistiques et ne donneront lieu à aucune exploitation, de quelque nature que ce soit.
Suppression des données après suppression du compte
Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective dès lors que la
durée de conservation ou d'archivage nécessaire à l'accomplissement des finalités déterminées ou imposées
est atteinte. Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
libertés, vous disposez par ailleurs d'un droit de suppression sur vos données que vous pouvez exercer à tout
moment en prenant contact avec l'Éditeur.
Suppression des données après 3 ans d'inactivité
Pour des raisons de sécurité, si vous ne vous êtes pas authentifié sur le Site pendant une période de trois ans,
vous recevrez un e-mail vous invitant à vous connecter dans les plus brefs délais, sans quoi vos données seront
supprimées de nos bases de données.</p>

<h3 class="text-center">Suppression du compte</h3>
<p>Suppression du compte à la demande
L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à l'Éditeur OU par
le menu de suppression de Compte présent dans les paramètres du Compte le cas échéant.
Suppression du compte en cas de violation des CGU
En cas de violation d'une ou de plusieurs dispositions des CGU ou de tout autre document incorporé aux
présentes par référence, l'Éditeur se réserve le droit de mettre fin ou restreindre sans aucun avertissement
préalable et à sa seule discrétion, votre usage et accès aux services, à votre compte et à tous les Sites.
Indications en cas de faille de sécurité décelée par l'Éditeur
Information de l'Utilisateur en cas de faille de sécurité
Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles appropriées afin
de garantir un niveau de sécurité adapté au regard des risques d'accès accidentels, non autorisés ou illégaux,
de divulgation, d'altération, de perte ou encore de destruction des données personnelles vous concernant.
Dans l'éventualité où nous prendrions connaissance d'un accès illégal aux données personnelles vous
concernant stockées sur nos serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour
conséquence la réalisation des risques identifiés ci-dessus, nous nous engageons à :<p>
<ul>
<li>Vous notifier l'incident dans les plus brefs délais ;</li>
<li>Examiner les causes de l'incident et vous en informer ;</li>
<li>
Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets négatifs et
préjudices pouvant résulter dudit incident</li>
</ul>

<h3 class="text-center">Limitation de la responsabilité</h3>
<p>En aucun cas les engagements définis au point ci-dessus relatifs à la notification en cas de faille de sécurité ne
peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité quant à la survenance
de l'incident en question.
Transfert des données personnelles à l'étranger
Pas de transfert en dehors de l'Union européenne
L'Éditeur s'engage à ne pas transférer les données personnelles de ses Utilisateurs en dehors de l'Union
européenne.
Modification des CGU et de la politique de confidentialité
En cas de modification des présentes CGU, engagement de ne pas baisser le niveau de confidentialité de
manière substantielle sans l'information préalable des personnes concernées
Nous nous engageons à vous informer en cas de modification substantielle des présentes CGU, et à ne pas
baisser le niveau de confidentialité de vos données de manière substantielle sans vous en informer et obtenir
votre consentement.</p>




<h3 class="text-center">Droit applicable et modalités de recours</h3>
<p>Clause d'arbitrage
Vous acceptez expressément que tout litige susceptible de naître du fait des présentes CGU, notamment de
son interprétation ou de son exécution, relèvera d'une procédure d'arbitrage soumise au règlement de la
plateforme d'arbitrage choisie d'un commun accord, auquel vous adhérerez sans réserve.
Portabilité des données
Portabilité des données
L'Éditeur s'engage à vous offrir la possibilité de vous faire restituer l'ensemble des données vous concernant
sur simple demande. L'Utilisateur se voit ainsi garantir une meilleure maîtrise de ses données, et garde la
possibilité de les réutiliser. Ces données devront être fournies dans un format ouvert et aisément réutilisable.</p>

{% endblock %}