{% extends 'public/index.html.twig' %}

{% block title %}Concept Rénovation - Réalisations{% endblock %}


{% block body %}

	<h4 class="backgroundTitle mt-2 text-center">Nos réalisations</h4>

	{% for works in work %}
		<div class="text-center">
			<h5>{{ works.title }}</h5>
			
		</div>


		<!-- PRESENTATION REALISATIONS MINIMUM IPAD -->


		<div class="d-none d-md-block text-center">
			<img src="{{ asset('assets/img/' ~ works.images[0].name ) }}" alt="" class="grde-img sizeBigImageRealisation img-fluid">
			<div class="row mt-2 mb-2">
				{% for image in works.images %}
					<div class="col-md-6 col-xl-3 my-5">
						<img src="{{ asset('assets/img/' ~ image.name ) }}" alt="" class="img-fluid sizeImageRealisation monImage">
					</div>
				{% endfor %}
			</div>
		</div>


		<div>
			<p class="text-center my-3">{{ works.description }}
			</p>
		</div>

	{% endfor %}

{% endblock %}
